.buy{
    display: flex;
    gap: 41px;
}
.image img{
    width: 371px;
}
.info h2 {
    margin-bottom: 33px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 23px;
}

.lastCard {
    border: 1px dashed red;
    border-radius: 9px;
    width: 144px;
    height: 217px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3 {
        text-align: center;
        margin-bottom: 10px;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
}