.popular h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.popular h2+div {
    display: flex;
    align-items: center;
    gap: 24px;
}

.popular h2+div input {
    margin-right: 8px;
}

.wrap {
    padding-top: 37px;
    padding-left: 43px;
    padding: 43px;
}