

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    
    h1 {
        color: rgba(255, 255, 255, 1);
        font-size: 42px;
        font-weight: 700;
        width: 666px;
        margin: auto;
        text-align: center;
        margin-top: 60px;
    }
}
